[project]
name = "agnos"
version = "0.1.0"
authors = [{name = "Vehicle Researcher", email = "user@comma.ai"}]
requires-python = "~=3.11"
description = ""
dependencies = [
  "openpilot",
  "openpilot[dev]",
  "openpilot[testing]",

  # hardware.py
  "dbus-python",
  # amplifier.py
  "smbus2",

  # pandad
  "libusb1 == 3.1.0", # recent versions segfault on comma three

  # tinygrad
  "pyopencl == 2024.1",  # pinned until cmake update coming with 24.04

  # provisioning
  "pyusb",
  "paramiko",

  # extra nice-to-haves
  "evdev",
  "ipython",

  "raylib @ https://github.com/commaai/raylib-python-cffi/releases/download/2/raylib-5.5.0.2-cp312-cp312-linux_aarch64.whl",
]

[tool.uv.sources]
openpilot = { path = "openpilot" }
