// Allow sudo users to control network
polkit.addRule(function (action, subject) {
  if (action.id.startsWith("org.freedesktop.NetworkManager.") &&
      subject.isInGroup("sudo")) {
    return polkit.Result.YES;
  }
});
