[Unit]
Description=Mark the boot slot successful after platform properties are ready
Requires=leprop.service persist-prop.service
After=leprop.service persist-prop.service comma-platform.service
ConditionPathExists=/data/continue.sh
[Service]
Type=oneshot
ExecStart=/usr/sbin/abctl --set_success
[Install]
WantedBy=multi-user.target
