[Unit]
Description=Limit display brightness with uptime

[Service]
Restart=on-failure
ExecStart=/usr/local/venv/bin/python -u /usr/comma/brightnessd.py

[Install]
WantedBy=multi-user.target
