[Unit]
Description=Collect AGNOS debug information after initialization
Requires=comma-init.service
After=comma-init.service
ConditionPathIsMountPoint=/cache

[Service]
Type=oneshot
User=comma
ExecStart=/usr/comma/debug.py

[Install]
WantedBy=multi-user.target
