[Unit]
Description=Hardware init
DefaultDependencies=no
Before=network.target lte.service

[Service]
Type=oneshot
ExecStart=/usr/comma/hardware-init.sh

[Install]
WantedBy=multi-user.target
