[Unit]
Description=Hardware init
Before=lte.service

[Service]
Type=oneshot
ExecStart=/usr/comma/hardware-init.sh

[Install]
WantedBy=multi-user.target
