[Unit]
Description=IRSC util Service
SourcePath=/usr/bin/irsc_util
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/irsc_util /etc/sec_config

[Install]
WantedBy=sysinit.target
