[Unit]
Description=Magic
After=comma-init.service
Requires=comma-init.service

[Service]
Type=simple
User=comma
PermissionsStartOnly=true

ExecStartPre=/bin/bash -c "mkdir -p /data/misc/display || true"
ExecStartPre=/bin/bash -c "echo 0 > /data/misc/display/sdm_dbg_cfg.txt || true"
ExecStartPre=/bin/bash -c "echo 0 > /data/misc/display/gbm_dbg_cfg.txt || true"

ExecStart=/bin/bash -c "source /etc/profile && /usr/local/venv/bin/python -u /usr/comma/magic.py"

[Install]
WantedBy=multi-user.target
