[Unit]
Description=uMTP Responder
After=comma-init.service
Requires=comma-init.service

[Service]
ExecStart=/usr/bin/umtprd -c /etc/umtprd/umtprd.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
