[Unit]
Description=Initialize WLAN for NetworkManager without udev
After=comma-init.service NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/comma/wlan-nm-init.sh

[Install]
WantedBy=multi-user.target
