[submodule "edk2_tici"]
  path = edk2_tici
  url = ../../commaai/edk2_tici.git
[submodule "agnos-firmware"]
  path = agnos-firmware
  url = ../../commaai/agnos-firmware.git
[submodule "agnos-kernel-sdm845"]
  path = agnos-kernel-sdm845
  url = ../../commaai/agnos-kernel-sdm845.git
[submodule "agnos-binaries"]
  path = agnos-binaries
  url = ../../commaai/agnos-binaries.git
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/andiradulescu/linux
