[Unit]
DefaultDependencies=no
After=local-fs.target
Before=comma-early.target sysinit.target

[Service]
Type=oneshot
RemainAfterExit=true
User=comma
ExecStart=/bin/bash -c "/usr/bin/tmux new-session -s comma -d /usr/comma/comma.sh"
# TODO: send SIGTERM first, then kill after a timeout
ExecStop=/bin/bash -c "/usr/bin/tmux kill-session -t comma"
TimeoutStopSec=1
LimitRTPRIO=100
LimitNICE=-10

[Install]
WantedBy=comma-early.target
