[Unit]
After=local-fs.target

[Service]
Type=simple
User=comma
ExecStart=/usr/comma/start-comma.sh --monitor
# TODO: send SIGTERM first, then kill after a timeout
ExecStop=/bin/bash -c "/usr/bin/tmux kill-session -t comma"
TimeoutStopSec=1
LimitRTPRIO=100
LimitNICE=-10

[Install]
WantedBy=multi-user.target
