[Unit]
Description=Setup rootfs
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/comma/boot/fs_setup.sh

[Install]
WantedBy=multi-user.target
