[Unit]
Description=GPIO export

[Service]
Type=oneshot
ExecStart=/bin/bash -c '[ -e /run/bootsh/gpio-ready ] || exec /usr/comma/gpio.sh'

[Install]
WantedBy=multi-user.target
