# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description= irsc-util Service
SourcePath=/usr/bin/irsc_util
DefaultDependencies=no

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/usr/bin/irsc_util /etc/sec_config

[Install]
WantedBy=sysinit.target
