[Unit]
Description=Magic

[Service]
Type=simple
User=comma
PermissionsStartOnly=true
ExecStartPre=/bin/bash -c "chgrp gpu /dev/adsprpc-smd /dev/ion /dev/kgsl-3d0 /dev/dri/* 2>/dev/null || true"
ExecStartPre=/bin/bash -c "chmod 660 /dev/adsprpc-smd /dev/kgsl-3d0 /dev/dri/* 2>/dev/null || true"
ExecStartPre=/bin/bash -c "chmod 664 /dev/ion 2>/dev/null || true"

ExecStartPre=/bin/bash -c "mkdir -p /data/misc/display || true"
ExecStartPre=/bin/bash -c "echo 0 > /data/misc/display/sdm_dbg_cfg.txt || true"
ExecStartPre=/bin/bash -c "echo 0 > /data/misc/display/gbm_dbg_cfg.txt || true"

ExecStart=/usr/comma/start-magic.sh --monitor

[Install]
WantedBy=multi-user.target
