[Unit]
Description=Sound
DefaultDependencies=no
After=local-fs.target
Before=comma-early.target sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/comma/sound/sound_init.sh

[Install]
WantedBy=comma-early.target
