[Unit]
SourcePath=/sbin/leprop-service
Description=leprop Service
After=systemrw-build.prop.service
Before=persist-prop.service

[Service]
Restart=always
ExecStart=/sbin/leprop-service

[Install]
WantedBy=multi-user.target
