Package: agnos-display
Version: 0.0.1
Section:
Priority: optional
Architecture: arm64
Depends:
Replaces: libopencl1, ocl-icd-libopencl1, libgsl-dev, ocl-icd-opencl-dev
Installed-Size: 161824
Maintainer: Robbe Derks robbe@comma.ai
Description: AGNOS display stuff
