# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=chgrp-diag Service
SourcePath=/etc/initscripts/chgrp-diag

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/etc/initscripts/chgrp-diag start
ExecStop=/etc/initscripts/chgrp-diag stop

[Install]
WantedBy=multi-user.target
