[Unit]
Description=comma early-boot phase
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target sysinit.target

[Install]
WantedBy=sysinit.target
