# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=Qseecomd Service
SourcePath=/etc/initscripts/qseecomd
After=leprop.service
Requires=leprop.service

[Service]
Restart=no
RemainAfterExit=yes
ExecStartPre=/bin/bash -c 'for i in {1..100}; do : < /dev/ion && exit 0; sleep 0.05; done; exit 1'
ExecStart=/etc/initscripts/qseecomd start
ExecStop=/etc/initscripts/qseecomd stop

[Install]
WantedBy=multi-user.target
