# EG25 GNSS
KERNEL=="ttyUSB0",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="0125",ENV{ID_MM_DEVICE_IGNORE}="1"
KERNEL=="ttyUSB2",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="0125",ENV{ID_MM_PORT_IGNORE}="1"

# EG91
# Interface 0 - debug
# Interface 1 - GPS/NMEA
# Interface 2 - AT
# Interface 3 - AT
SUBSYSTEM=="tty", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="6007", ENV{ID_USB_INTERFACE_NUM}=="00", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="6007", ENV{ID_USB_INTERFACE_NUM}=="01", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="6007", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="modem_at0", ENV{ID_MM_PORT_IGNORE}="1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="6007", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="modem_at1", ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2c7c", ATTR{idProduct}=="6007", RUN+="/bin/sh -c 'echo -n $kernel:1.4 > /sys/bus/usb/drivers/cdc_ether/unbind'"

# C16
KERNEL=="ttyACM1",ENV{ID_MM_DEVICE_IGNORE}="1"
KERNEL=="ttyACM0",ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"
KERNEL=="ttyACM2",ENV{ID_MM_PORT_TYPE_AT_SECONDARY}="1"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9330", NAME="usb%n"
