# EG25 GNSS
KERNEL=="ttyUSB0",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="0125",ENV{ID_MM_DEVICE_IGNORE}="1"

# EG91
# ttyUSB0 - debug
# ttyUSB1 - GPS
# ttyUSB2 - AT
# ttyUSB3 - AT
KERNEL=="ttyUSB0",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="6007",ENV{ID_MM_DEVICE_IGNORE}="1"
KERNEL=="ttyUSB1",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="6007",ENV{ID_MM_DEVICE_IGNORE}="1"
KERNEL=="ttyUSB2",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="6007",ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"
KERNEL=="ttyUSB3",ATTRS{idVendor}=="2c7c",ATTRS{idProduct}=="6007",ENV{ID_MM_PORT_TYPE_AT_SECONDARY}="1"

# C16
KERNEL=="ttyACM1",ENV{ID_MM_DEVICE_IGNORE}="1"
KERNEL=="ttyACM0",ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"
KERNEL=="ttyACM2",ENV{ID_MM_PORT_TYPE_AT_SECONDARY}="1"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9330", NAME="usb%n"
