[Unit]
Description=adbd Service

[Service]
User=root
ExecStart=/bin/sh -c 'export TERM=xterm-256color; su - comma -c "cd /data/openpilot && exec /usr/comma/adbd"'
