[Unit]
After=weston-ready.service

[Service]
Type=simple
User=comma
Restart=no
ExecStart=/bin/bash -c "source /etc/profile && /data/test_weston.py"

[Install]
WantedBy=multi-user.target
