[Unit]
After=weston-ready.service

[Service]
Type=simple
User=comma
Restart=no
ExecStart=/bin/bash -c "/data/test_weston.sh"

[Install]
WantedBy=multi-user.target
