[Unit]
Description=Start cdsp
SourcePath=/usr/bin/cdsp.sh
Before=cdsprpcd.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/cdsp.sh

[Install]
WantedBy=multi-user.target
