[Unit]
Description=Color correction copy

[Service]
Type=oneshot
ExecStart=/bin/bash -c "mkdir -p /data/misc/display && cp /sys/devices/platform/soc/894000.i2c/i2c-2/2-0017/color_cal /data/misc/display/color_cal && echo \"Color calibration file succesfully copied!\""


[Install]
WantedBy=multi-user.target
