// allow-network-control.pkla
polkit.addRule(function (action, subject) {
  if (action.id.startswith("org.freedesktop.ModemManager1." &&
      (subject.user == "comma" || subject.user == "root"))
    return polkit.Result.YES;
});

// allow-modem-control.pkla
polkit.addRule(function (action, subject) {
  if (action.id == "org.freedesktop.ModemManager1.Device.Control" &&
      (subject.user == "comma" || subject.user == "root"))
    return polkit.Result.YES;
});

// Allow sudo users to control network & modem
polkit.addRule(function (action, subject) {
  if ((action.id.startsWith("org.freedesktop.NetworkManager.") || action.id.startsWith("org.freedesktop.ModemManager1.")) &&
      subject.isInGroup("sudo")) {
    return polkit.Result.YES;
  }
});
