[Unit]
Description=/home overlay
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Conflicts=umount.target

[Mount]
What=overlay
Where=/home
Type=overlay
Options=lowerdir=/usr/default/home,upperdir=/tmp/rw/home_upper,workdir=/tmp/rw/home_work

[Install]
WantedBy=local-fs.target
