[Unit]
Description=Minutely rotation of log files
Documentation=man:logrotate(8) man:logrotate.conf(5)

[Timer]
Unit=logrotate.service
OnBootSec=1min
Persistent=true

[Install]
WantedBy=timers.target
