[Unit]
Description=LTE
After=gpio.service network.target

[Service]
Restart=no
KillSignal=SIGKILL
RemainAfterExit=true
ExecStart=/usr/comma/lte/lte.sh start
ExecStop=/usr/comma/lte/lte.sh stop

[Install]
WantedBy=multi-user.target
