[Unit]
Description=Magic

[Service]
Type=simple
User=comma
PermissionsStartOnly=true
ExecStartPre=/bin/bash -c "chgrp gpu /dev/ion /dev/kgsl-3d0"
ExecStartPre=/bin/bash -c "chmod 660 /dev/ion /dev/kgsl-3d0"

ExecStart=/usr/local/venv/bin/python -u /usr/comma/magic.py

[Install]
WantedBy=multi-user.target
