[Unit]
After=multi-user.target

[Service]
User=comma
Restart=no
ExecStart=/usr/local/venv/bin/python -u /usr/comma/phantom_touch_logger.py

[Install]
WantedBy=multi-user.target
