[Unit]
Description=Sets the hostname to the device's serial number
After=NetworkManager.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/comma/set-hostname.sh

[Install]
WantedBy=multi-user.target
