[Unit]
Description=SSH param watcher
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/comma/set_ssh.sh

[Install]
WantedBy=multi-user.target
