[Unit]
Description=Weston
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service

[Service]
Type=simple
Restart=no
KillSignal=SIGKILL
Environment="XDG_RUNTIME_DIR=/var/tmp/weston"

UtmpIdentifier=tty1
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

ExecStartPre=/bin/bash -c "mkdir -p $XDG_RUNTIME_DIR"
ExecStartPre=/bin/bash -c "chown -R comma: $XDG_RUNTIME_DIR"
ExecStartPre=/bin/bash -c "chmod -R 700 $XDG_RUNTIME_DIR"

ExecStartPre=/bin/bash -c "mkdir -p /data/misc/display || true"
ExecStartPre=/bin/bash -c "echo 0 > /data/misc/display/sdm_dbg_cfg.txt || true"
ExecStartPre=/bin/bash -c "echo 0 > /data/misc/display/gbm_dbg_cfg.txt || true"

ExecStartPre=/bin/chvt 1
ExecStart=/usr/bin/weston --idle-time=0 --tty=1 --config=/usr/comma/weston.ini

[Install]
WantedBy=multi-user.target
