[Unit]
Description=Weston

# If we start weston immediately it just exits without an error
# TODO: Figure out what we need to wait for (drm?)
[Service]
Type=simple
Restart=always
Environment="XDG_RUNTIME_DIR=/var/tmp/weston"
ExecStart=/bin/bash -c "/usr/comma/modetest -M msm_drm -s 26@111:1080x2160-60 && \
                        /usr/comma/modetest -M msm_drm -s 26@111:1080x2160-60 && \
                        mkdir -p $XDG_RUNTIME_DIR && \
                        chown -R comma: $XDG_RUNTIME_DIR && \
                        mkdir -p /data/misc/display || true && \
                        echo 0 > /data/misc/display/sdm_dbg_cfg.txt || true && \
                        echo 0 > /data/misc/display/gbm_dbg_cfg.txt || true && \
                        /usr/bin/weston --idle-time=0 --tty=1 --config=/usr/comma/weston.ini"
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
