[Unit]
PartOf=weston.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
Environment="XDG_RUNTIME_DIR=/var/tmp/weston"

ExecStart=/bin/echo "waiting for wayland socket"
ExecStart=/bin/bash -c "while [ ! -e \"$XDG_RUNTIME_DIR/wayland-0\" ]; do sleep 0.1; done"

# still starting after socket comes up
ExecStart=/bin/sleep 0.5

ExecStart=/bin/echo "fixing permissions"
ExecStart=/bin/bash -c "chown -R comma: $XDG_RUNTIME_DIR"
ExecStart=/bin/bash -c "chmod -R 700 $XDG_RUNTIME_DIR"

# these are set by udev rules, but udev is slow
ExecStart=/bin/bash -c "chgrp gpu /dev/ion /dev/kgsl-3d0"
ExecStart=/bin/bash -c "chmod 660 /dev/ion /dev/kgsl-3d0"

ExecStart=/bin/echo "turning on display"
ExecStart=/bin/bash -c "echo 500 > /sys/class/backlight/panel0-backlight/brightness"

[Install]
WantedBy=multi-user.target
