name: build

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && github.run_id || github.head_ref || github.ref }}-${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 180
    steps:
    - uses: actions/checkout@v4
      with:
        filter: blob:none

    - name: checkout kernel submodule
      id: kernel-submodule
      run: |
        git submodule update --init --filter blob:none agnos-kernel-sdm845
        echo "ref=$(git ls-tree HEAD | awk '$4 == "agnos-kernel-sdm845"' | awk '{print $3}')" >> "$GITHUB_OUTPUT"

    - uses: hendrikmuhs/ccache-action@c92f40bee50034e84c763e33b317c77adaa81c92
      with:
        key: kernel-${{ steps.kernel-submodule.outputs.ref }}
        restore-keys: |
          kernel-
        create-symlink: true
        append-timestamp: false

    - run: ./build_kernel.sh
      env:
        CROSS_COMPILE: "ccache ${{ github.workspace }}/tools/aarch64-linux-gnu-gcc/bin/aarch64-linux-gnu-"
        CC: "ccache ${{ github.workspace }}/tools/aarch64-linux-gnu-gcc/bin/aarch64-linux-gnu-gcc"

    - uses: actions/upload-artifact@v4
      with:
        name: boot.img
        path: output/boot.img

    - name: Free build space
      run: |
        rm -rf /opt/hostedtoolcache

    # - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - run: ./build_system.sh
    - uses: actions/upload-artifact@v4
      with:
        name: system.img
        path: output/system.img
