root/usr/comma/wlan.ko filter=lfs diff=lfs merge=lfs -text
root/usr/comma/wifi filter=lfs diff=lfs merge=lfs -text
root/usr/comma/reset filter=lfs diff=lfs merge=lfs -text
root/usr/comma/setup filter=lfs diff=lfs merge=lfs -text
root/usr/comma/installer filter=lfs diff=lfs merge=lfs -text
root/usr/comma/updater filter=lfs diff=lfs merge=lfs -text
